/*Global styles*/
body{
    font-family: Ebrima, Calibri ,Consolas, 'Times New Roman', sans-serif;
}
/*##############################################################################*/

.sticky_banner{ /*banner with some options that the user can see all the time while scrolling*/
    position: sticky;
    height: 25px;
    max-width: 20%;
    min-width: 40%;
    margin: 5px auto;
    top: 0px;
    background-color: rgba(248, 191, 191, 0.6);
    padding: 10px;
    border-radius: 6px;
    overflow-x: auto;
    scrollbar-width: none;
    z-index: 1; /*to allow the banner to go over any other element*/
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.sticky_banner::-webkit-scrollbar{ /*hides the scrollbar*/
    display: none;  
}
    .sticky_banner img{
        display: inline-block;
        height: 25px;
        width: 25px;
    }
    .sticky_banner img a{
        text-decoration: none;   
    }
.header{ /*Header section. It's a large div that contains other two divs*/
    position: relative;
    top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    max-height: 200px;
    max-width: 60%;
    overflow-y: auto;
    scrollbar-width: none;
    justify-content: center;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px 2px rgb(143, 143, 143)
}
.header::-webkit-scrollbar{ /*hides the scrollbar*/
    display: none;
}
    .general_info{ /*this is the div to the right. it contains the general info paragraph*/
        margin: 2px;
        min-width: 145px;
        min-height: auto;
        max-height: auto;
        max-width: 70%;
        overflow-y: scroll;
        scrollbar-width: none;
    }
    .general_info::-webkit-scrollbar{ /*hides the scrollbar*/
        display: none;
    }
        .infoParag{
            display: inline-block;
            text-align: justify;
            min-width: auto;
            min-height: auto;
            max-height: fit-content;
            margin-right: 15px;
            margin-left: 15px;
            background-color: rgb(250, 227, 227);
            padding: 10px;
            border-radius: 10px;
        }

    .photoDiv{ /*this is the div to the left. it only contains the picture*/
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        min-width: 197px;
        max-width: fit-content;
        min-height: auto;
        max-height: fit-content;
    }
        .my_photo{
            position: relative;
            border-radius: 10px;
            min-width: 157px;
            max-height: 157px;
        }
/*##############################################################################*/

/*this is the div that contains the paragraph with present-work information*/
.present_work{
    position: relative;
    display: flex;
    max-height: 144px;
    max-width: 60%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; /*I defined each margin separately 
    because for some reason margin top would surpass the element above*/
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px 2px rgb(143, 143, 143);
    overflow-y: scroll;
    scrollbar-width: none;
    min-width: 50%;
    min-height: auto;
}
.present_work::-webkit-scrollbar{
    display: none;
}
    .present_work h3{
        text-align: center;
    }
    .present_work p a{
        text-decoration: none; /*this is just to hide the link's underline*/
    }
    .present_work p{
        display: inline-block;
        text-align: justify;
        min-width: auto;
        min-height: auto;
        max-height: fit-content;
        margin-right: 15px;
        margin-left: 15px;
        background-color: rgb(250, 227, 227);
        padding: 10px;
        overflow-y: scroll;
        border-radius: 10px;
        scrollbar-width: none;
    }
    .present_work p::-webkit-scrollbar{
        display: none;
    }
/*##############################################################################*/

/*section for the top two squares that contain the more specific information*/
.top_squares{
    position: relative;
    margin: auto;
    max-width: 65%;
    min-width: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 15px;
}
    .top_squares div{
        height: 350px;
        width: 25%;
        max-width: 50%;
        min-width: 180px;
        margin: 15px 15px;
        padding: 35px;
        background-color: white;
        border-radius: 10px;
        overflow-y: scroll;
        scrollbar-width: none;
        box-shadow:0px 2px 15px 2px rgb(143, 143, 143);
    }
    .top_squares div::-webkit-scrollbar{
        display: none;
    }
        .top_squares h3{
            padding: 5px;
            background-color: rgb(250, 227, 227);
            border-radius: 6px;
            text-align: center;
        }
        .top_squares ul{
            background-color: rgb(250, 227, 227);
            margin: 20px 0px;
            padding: 15px 0px;
            text-align: center;
            border-radius: 8px;
            list-style-type: none;
        }
        .top_squares a{
            color: black;
        }

/*footer section*/
footer{
    height: 175px;
    background-color: rgb(44, 46, 48);
    overflow-y: scroll;
}
    footer h3{
        text-align: center;
        color: white;
    }

    .footer_list li{
        color: white;
        display: inline-block;
        padding: 10px;
    }
        .footer_list a{
            text-decoration: underline;
            color: white;
        }