/*Global style*/
div{
    border-color: black;
    border-width: 1px;
    border-style: dotted;
}

/*Individual styles*/
.header{
    position: absolute;
    display: flex;
    max-height: 250px;
    max-width: 90%;
    justify-content: center;
    margin: 5px auto;
}
    .general_info{
        margin: 2px;
        min-width: 50%;
        min-height: auto;
        max-height: auto;
    }
        .info_parag{

        }
    .photoDiv{
        position: relative;
        display: flex;
        justify-content: center;
        margin: 2px;
        min-width: 197px;
        max-width: fit-content;
        min-height: auto;
        max-height: fit-content;
    }
        .my_photo{
            position: relative;
            border-radius: 15%;
            min-width: 197px;
            max-height: 197px;
        }
